html {
	font-family: "Work Sans", sans-serif
}

body {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	background-color: rgb(243, 243, 243);
	height: 100%;
}

ul {
	li {
		margin-top: 5px;
	} }

.page {
	width: 80%;
	height: 100%;
	margin: auto;
	padding-bottom: 100px;
}

.header {
	padding-bottom: 10px;
	border-bottom: 2px solid black;
	border-bottom-style: dashed;
	position: relative;

	.profile-picture {
		width: 200px;
		display: inline-block;

		img {
			height: 300px;
			border-radius: 50%;
		}
	}

	.profile-info {
		display: inline-block;
		top: 0;
		position: absolute;
		text-align: left;
		margin: 40px 0 0 20px;

		.name {
			/* font-family: Rockwell; */
			font-size: 30pt;
			letter-spacing: 3px;
			margin-top: 60px;
		}

		.position {
			/* font-family: "Goudy Old Style"; */
			color: gray;
			font-size: 17pt;
			margin-top: 30px;
		}

		.additional-position {
			font-size: 11pt;
			margin: 0;
		}
	}

	.profile-links {
		position: absolute;
		right: 0;
		top: 0;

		.linkedin, {
			img {
				width: 44px;
				height: 35px;
			}
		}

		.facebook {
			img {
				width: 36px;
				height: 36px;
			}
		}
	}
}

.details {
	/* font-family: "Goudy Old Style"; */
	margin-top: 20px;

	.detail-content {
		display: inline-block;
		.details-header {
			font-size: 20pt;
			letter-spacing: 2px;
		}

		.details-section {
			.companies {
				li {
					margin-top: 5px;
				}

				.section-name {
					font-size: 15pt;
				}
			}

			.section-sub-detail {
				font-style: italic;
				text-align: right;
			}
		}
	}

	.expertise {
		position: absolute;

		.details-section {
			display: inline-block;
			vertical-align: top;
			width: 40%;
		}
	}
}
.language {
	font-size: 9pt;
	font-style: italic;
}
@import 'mobile.scss';
